@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@config "../tailiwind.config.ts";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 246 80% 60%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 206, 17%, 97%, 1;
    /* --accent: 210 40% 96.1%; */
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --sidebar-background: 246 80% 60%;
    --sidebar-foreground: 0 0% 100%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 209, 100%, 6%, 1;
    /* --background: 222.2 47.4% 11.2%; */
    --foreground: 210 40% 98%;

    --card: 222.2 47.4% 11.2%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 47.4% 11.2%;
    --popover-foreground: 210 40% 98%;

    --primary: 245, 100%, 74%, 1;
    /* --primary: 246 80% 60%; */
    --primary-foreground: 0 0% 100%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 210, 92%, 5%, 1;
    /* --accent: 217.2 32.6% 17.5%; */
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --sidebar-background: 217.2 32.6% 17.5%;
    --sidebar-foreground: 210 40% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    font-family: "Inter", sans-serif;
    @apply bg-accent text-foreground;
  }
}

@layer utilities {
  /* Flex utilities */
  .flex__center {
    @apply flex justify-center items-center;
  }

  .flex__between {
    @apply flex justify-between items-center;
  }

  /* Scrollbar hidden */
  .scrollbar__hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Typography */
  .block__heading {
    @apply text-lg font-semibold text-gray-800 capitalize dark:text-white whitespace-nowrap;
  }
}

/* Input & Select focus styles */
input:focus,
select:focus {
  outline: none;
  box-shadow: none;
}

/* Shadows */
.drop__shadow {
  box-shadow: 1px 1px 3px 0px #00000026;
}

.order__status__shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.stats__carousel__item {
  box-shadow: 0px 3px 6px 0px #0000000f;
}

/* Specific Chart sizing */
.order__status__chart .recharts-wrapper {
  width: 300px !important;
  height: 300px !important;
}

/* Custom borders */
.custom__phone__input__border {
  border: 0.66px solid #0e253c4d;
  box-shadow: 0px 1px 1px 0px #1a1a1a14;
}

/* Number input spinner removal */
/* Chrome, Safari, Edge, Opera */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.no-spinner {
  -moz-appearance: textfield;
}
